<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>| App Triagem RH | Opções do Gerente</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">App Triagem RH</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <h1 class="text-center">Opções para o Gerente Depto Vagas</h1>
        <div class="row justify-content-center mt-4">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        Ver Vagas Criadas
                    </div>
                    <div class="card-body">
                        <p class="card-text">Visualize todas as vagas que você criou.</p>
                        <a th:href="@{/listarVagasPorGerente/{gerenteDeptoVagasId}(gerenteDeptoVagasId=${gerente.id})}" class="btn btn-primary">Ver Vagas</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-header">
                        Cadastrar Nova Vaga
                    </div>
                    <div class="card-body">
                        <p class="card-text">Cadastre uma nova vaga no sistema.</p>
                        <a th:href="@{/cadastrarVaga/{gerenteDeptoVagasId}(gerenteDeptoVagasId=${gerente.id})}" class="btn btn-success">Cadastrar Vaga</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer fixed-bottom bg-dark text-center py-3">
        <span class="text-light align-middle">| App Triagem RH |</span>
    </footer>
</body>

</html>
