<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>| App Triagem RH | Opções do Gerente</title>
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">App Triagem RH</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        <h1>Lista de Currículos</h1>

        <table class="table table-hover table-responsive w-auto table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome:</th>
                    <th scope="col">Candidato:</th>
                    <th scope="col"></th>
                    <th scope="col">Ações:</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="curriculo : ${curriculos}">
                    <td th:text="${curriculo.nome}"></span></td>
                    <td th:text="${curriculo.candidato.nome}"></span></td>
                    <td><span></span></td>
                    <td>
                        <form th:action="@{/curriculo/aprovar}" method="post">
                            <input type="hidden" name="curriculoId" th:value="${curriculo.id}" />
                            <button class="btn btn-success" type="submit">Aprovar</button>
                        </form>
                    </td>
                    
                    <td>
                        <form th:action="@{/curriculo/rejeitar}" method="post">
                            <input type="hidden" name="curriculoId" th:value="${curriculo.id}" />
                            <button class="btn btn-warning" type="submit">Rejeitar</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/curriculo/excluir}" method="post">
                            <input type="hidden" name="curriculoId" th:value="${curriculo.id}" />
                            <button class="btn btn-danger" type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer fixed-bottom bg-dark text-center py-3">
        <span class="text-light align-middle">| App Triagem RH |</span>
    </footer>
</body>
</html>